@font-face {
  font-family: CenturyGothic-Bold;
  src: url("Fonts/CenturyGothic-Bold_gdi.woff");
}
@font-face {
  font-family: proxima_nova_light;
  src: url("Fonts/mark_simonson_-_proxima_nova_light-webfont.woff");
}

@font-face {
  font-family: mark_simonson_-_proxima_nova_semibold;
  src: url("Fonts/mark_simonson_-_proxima_nova_semibold-webfont.woff");
}

@font-face {
  font-family: proximanova_regular;
  src: url("Fonts/proximanova_regular-webfont.woff");
}
